.popup {
  display: flex;
  width: 35rem;
  flex-direction: column;
  padding-bottom: 0.6rem;


  &__btn {
    background-color: rgb(10, 17, 26);
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    width: 50%;
    color: #f9f7f6;
    padding: 10px 5px;
    border: 1px solid rgb(10, 17, 26);
    border-radius: 5px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.4s all;
    outline: none;

    &--outline {
      border: 1px solid rgb(10, 17, 26);
      color: rgb(10, 17, 26);
      background-color: #f9f7f6 ;

    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95);
    }

    &__container {
      margin-top: 0.5rem;
      display: flex;
      margin-left: 0.5rem;
      height: 40px;
    }
  }

  &__logo {
    font-weight: bold;
    display: flex;
    width: 100%;
    margin: 0 1rem;
    align-items: center;
    font-size: 3rem;
    margin-top: 4px;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-right: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  &__items {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

    & > * {
      display: inline-block;
      margin: 0.5rem 0.3rem;
    }
  }

  &__temp-access-list {

    &-item {
      padding: 2px 8px ;
      font-size: 1.4rem;
      margin-top: 5px;
      display: flex;
      align-items: center;

      &-pattern {
        overflow-wrap: anywhere;
      }
      &-time {
        padding-left: 10px;
        margin-left: auto;
      }

      &-remove-btn {
        text-transform: uppercase;
        background-color: inherit;
        font-size: 1.4rem;
        color: #111d2b;
        outline: none;
        border: none;

        &::before {
          content: "x";
        }

        &:hover {
          cursor: pointer;
          color: rgb(207, 198, 194);
        }
      }
    }
  }
}
