.custom-select-access {
  letter-spacing: 2px;

  font-size: 12px;
  position: relative;

  margin-right: 1rem;
  letter-spacing: 2px;
  border-radius: 5px;

  width: 100px;

  display: block;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: 0.4s all;
  outline: none;
  margin-bottom: 0;
}

.custom-select-access select {
  display: none; /*hide original SELECT element: */
}

.select-access-selected {
  background-color: #c59867;
  border-radius: 2px;
}

.disabled {
  background: #aaa !important;
  border: 1px solid #aaa !important;
  text-align: center;
}
.disabled:hover {
  cursor: default !important;
}

/* Style the arrow inside the select element: */
.select-access-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #f9f7f6 transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-access-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-access-selected.select-arrow-active {
  border-radius: 5px 5px 0 0;
}
/* style the items (options), including the selected item: */
.select-access-items div,
.select-access-selected {
  color: #f9f7f6;
  padding: 11.5px 10px;

  // border-color: #c59867 transparent rgba(#c59867, 0.1) transparent;
  cursor: pointer;
}

.select-access-selected:hover {
  cursor: pointer;
}

/* Style items (options): */
.select-access-items {
  position: absolute;
  background-color: #c59867;
  top: 100%;
  left: 0;
  right: 0;

  z-index: 99;

  &:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

.focus {
  border-radius: 5px;
  border: 2px solid white;
}

/* Hide the items when the select box is closed: */
.select-access-hide {
  display: none;
}

.select-access-items div:hover,
.same-as-selected-access {
  background-color: rgba(#000, 0.3);
}
