/* fixa font  */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12, 12/16
  }

  height: 100%;
  width: 100%;
}

body {
  font-family: 'Comfortaa', cursive;
  letter-spacing: 1.5px;
  font-weight: 300;
  min-height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 1.2;
}

.container {
  min-height: 100vh;
  display: flex;
  @include respond(phone) {
    flex-direction: column;
  }
}

/* Main Content */
.main-content {
  background: #111d2b;
  color: #f9f7f6;
  flex: 1;
  max-width: 80%;
  @include respond(phone) {
    max-width: 100%;
  }
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0rem;
  }
}

.content {
  padding: 5rem 3rem;
}

@include respond(tab-port) {
  padding: 0rem;
}

.content--hidden {
  display: none;
}

/* Buttons */

.header {
  margin-top: 1rem 0 0.5rem 0;
  color: #c59867;
  padding-left: 0;

  background: #111d2b !important;
  font-size: 1.7rem;
}

.header--main {
  color: #f9f7f6 !important;
  font-size: 2.2rem;
}

.header--main--center {
  text-align: center;
}

.header__container {
  display: flex;
  align-items: center;
}
.header__info {
  font-size: 0.8rem;
  font-style: italic;
  margin-left: 0.5rem;
  width: 30vw;
}

.header--white {
  color: #f9f7f6;
  font-size: 1.2rem;
}

.header-container {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.header--big {
  color: #f9f7f6 !important;
  /* transform: translate(-2rem, -4rem); */
  font-size: 1.7rem;
  margin-bottom: 1rem;
  /* position: absolute */
}

.header--small {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #c59867;
}

.header--small--white {
  color: #f9f7f6;
}

.header--small-noToogle {
  color: #c59867 !important;
}

.timer-container {
  margin-top: 2rem;
}

.about-container__item > * {
  text-align: center;
}

.about-container {
  font-size: 2rem;
}

.margin-top {
  margin-top: 3rem;
}

.margin-bottom {
  margin-bottom: 3rem;
}

.copy-switch-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 16px;
}

.copy-switch__text {
  margin-left: 0.8rem;
  color: white;
}
.copy-switch-container .slider {
  background-color: white !important;
}

.hidden-container ~ .copy-switch__text--breath,
.copy-switch__text--copy {
  color: white !important;
}

.hidden-container ~ .copy-switch__text--copy,
.copy-switch__text--breath {
  color: rgba(249, 247, 246, 0.3) !important;
}

.copy-switch-heading {
  margin-top: 4rem;
}

.copy-switch__text--copy {
  order: 3;
  margin-left: 1rem;
}
.copy-switch__text--breath {
  order: 1;
  margin-right: 1rem;
}

.copy-switch {
  order: 2;
  margin: 0 !important;
}

.num-breath-container {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
